<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" id="tema">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mi_Web_Personal_Individual</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mi_Web_Personal_Individual.styles.css" asp-append-version="true" />
   
</head>
<body>
<header>
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href='@Url.Action("Index","Home")'>Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href='@Url.Action("Index","Home")'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='@Url.Action("Gusta","Home")'>About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='@Url.Action("Contacto","Home")'>Contact Me</a>
        </li>
      </ul>
      <button type="button" class="btn active ms-auto" data-bs-toggle="button" aria-pressed="true" id="btn-tema">
        <img src="../Images/luna.png" width="20px" class="btn-img">
      </button>
    </div>
  </div>
</nav>

</header>
    <div class="container content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="text-center text-lg-start" id="footer">
      <nav>
        <div class="container d-flex justify-content-center py-5">
            <a type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="padding: 5px;">
               <img src = "../Images/instagram.png" width="30px">
            </a>
            <a type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="padding: 5px;" >
                <img src = "../Images/telefono.png" width="30px">
            </a>
            <a type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="padding: 5px;" href="https://web.whatsapp.com">
                <img src = "../Images/whatsapp.png" width="30px" >
            </a>
        </div>
        <div class="text-center text-white p-3" style="background-color: #191919;">
            © 2024 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">Dekel Usach</a>
        </div>
        </nav>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
